<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="shortcut icon" th:href="@{/themes/default/images/fac.png}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" th:href="@{/themes/default/images/fac.png}" sizes="114x114"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/codemirror.css}" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/font_851841_jqfiwnlyy8s.css}" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/jquery.autocompleter.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.toolfk.com/tools/js/layer/skin/default/layer.css?v=3.0.11110" />
    <link rel="stylesheet" href="https://www.toolfk.com/tools/js/layui/css/modules/layer/default/layer.css?v=3.1.1" />
    <link th:href="@{/assets/thirdparty/layer/skin/layer.css}" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script th:src="@{/assets/thirdparty/layer/layer.js}"></script>
    <script th:src="@{/themes/default/js/scripts.js}"></script>
</head>
<body>

<div class="apps" id="apps" style="">
    <div class="layui-tab layui-tab-brief" style="width: 100%;">
        <a th:href="@{/}" class="navbar-brand">
            <img style="width:165px;height:45px;margin-top:5px;" th:src="@{/themes/default/images/logo.png}"/>
        </a>
        <ul class="layui-tab-title" style="">
            <li><a th:href="@{/}" class="nav-link">全部工具</a></li>
            <li><a th:href="@{/category/pdf}" class="nav-link">PDF处理</a></li>
            <li><a th:href="@{/category/format}" class="nav-link">格式化工具</a></li>
            <li><a th:href="@{/category/develop}" class="nav-link">开发工具</a></li>
            <li><a th:href="@{/category/network}" class="nav-link">网络工具</a></li>
            <li><a th:href="@{/category/encrypt}" class="nav-link">加密解密</a></li>
            <li><a th:href="@{/category/translation}" class="nav-link">翻译</a></li>
            <li><a th:href="@{/category/text}" class="nav-link">文本处理</a></li>
            <li><a th:href="@{/category/credit}" class="nav-link">信用卡</a></li>
            <li><a th:href="@{/category/conversion}" class="nav-link">转换工具</a></li>
            <li><a th:href="@{/doc/}" class="nav-link">常用文档</a></li>
        </ul>
        <div class="layui-tab-content" style="height: 36px;">
            <div class="layui-col-md12">
                <form th:action="@{/search/}" class="index-search-form col-lg-12 layui-form">
                    <input type="text" name="q" id="link" value="" required="" autocomplete="off" placeholder="搜索工具、文档，例如：base64、java" class="layui-input layui-input-custom autocompleter-node" style="" />
                    <div class="autocompleter " id="autocompleter-1">
                        <ul class="autocompleter-list"></ul>
                    </div>
                    <button class="layui-btn index-search" type="submit" style=""><img th:src="@{/themes/default/images/search.png}" width="22px" /> </button>
                    <input type="hidden" id="clicked" value="search" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" layout:fragment="content">


</div>

<footer class="mt-footer" data-spm="100">
    <div class="container">
        <div data-spm="25" class="y-row copyright">
            <p class="big">
                <a href="mailto:jack666.xu@gmail.com" target="_blank" style="color:#666">联系我</a>
                -
                <a href="http://tool.chinaz.com/" target="_blank" style="color:#666">站长工具</a>
            </p>
            <p>Copyright © 技巧网 2020 备案号：粤ICP备20012807号-1</p>
        </div>
    </div>
</footer>

</body>
</html>