<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<div class="col-xs-4" th:fragment="sidebar">
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">快捷操作</div>
        <div class="panel-body">
            <button type="button" class="btn btn-link" onclick="AddFavorite(window.location,document.title)">+ 添加收藏
            </button>
            <button type="button" class="btn btn-link" onclick="setHome(this,window.location)">+ 设为首页</button>
        </div>
    </div>
</div>
</body>
</html>